body{
	font-family:Veronica, sans-serif;
	font-size:16px;
	background-color: #DDDDDD;
	overflow:hidden;
}

#pageInnerWrapper{
	position:fixed;
	left: 0%;
	top: 0%;
	height: 80%;
	overflow-y:scroll;
	overflow-x:auto;
	border-bottom: 2px solid grey;
	width: 100%;
}
#pageInnerWrapper.chatHidden{
	height: 96%;
}


h2, h3, h4{
	margin:0.2em
}



#logout, #adminLogin{
	text-align:right;
}

#logout a, #adminLogin a {
	cursor: pointer;
	font-size: 11px;
	color: #0000f0;
	text-decoration:underline;
}

#topBar {
	margin:0px;
	padding:0.5em;
	color: white;
	font-size: 18px;
	overflow:hidden;
}

#topBar ul{
	background-color: #666666;
	margin:0px;
	padding: 3px 0px;
	overflow:hidden;
}

#topBar li{
	display: inline-block;
	border: 1px solid #666666;
	margin: 0px 0px;
}

#topBar li.selected{
	background-color: #999999;
}

#topBar li.toggled{
	background-color: #9999AA;
	border: 3px inset #757575;
}

#topBar ul a:hover {
	color: #800000;
}

#chatArea > ul > li{
	display: inline;
}

#topBar ul a{
	font-weight: bold;
	text-decoration:none;
	padding-left:1em;
	padding-right:1em;
	cursor: pointer;
}

#topbar ul, #countryselection ul{
	margin:2px;
	list-style-type: none;
	padding-left: 0px;
}


/*
#leftArea{
	float:left;
	background-color: #4444f0;
	width: 0%;
	border: 4px ridge #0000a0;
}



*/

/*
#viewsAreaTable > tr > td{
	vertical-align:top
}
*/
#viewsAreaTable tr td{
	vertical-align:top
}

#main, #rightArea, #leftArea{
	vertical-align:top;
	/*overflow:auto;
	height:400px;
	white-space:nowrap;*/
}

#leftArea{
	background-color: #CCCCCC;
	/*position:absolute;
	left:0%;
	
	overflow-y:auto;
	overflow-x:hidden;
	max-height:90%;*/
	max-width:33%;
	display:inline-block;
	float:left;
}

#rightArea{
	background-color: #CCCCCC;
	/*position:absolute;
	right:0%;
	

	overflow-y:auto;
	overflow-x:hidden;
	max-height:90%;*/
	max-width:30%;
	float:right;
	display:inline-block;
}

#main{
	display:block;
}

#main  div{
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;
}

#rightArea table tbody tr:nth-child(odd){
	background-color: #DDDDDD;
}

#main > div, #rightArea > div, #leftArea > div{
	vertical-align:top;
	margin-left:auto;
	margin-right:auto;
	padding:0.3em;
	margin:0.2em;
	border: 4px ridge #B0B0B0;
	overflow:hidden;
}


#main button{
	font-size: 11px;
}

#users table, #embassies table, #resources table{
	border-collapse:collapse;
	margin-left:auto;
	margin-right:auto;
}



#users td, #embassies td, #resources td, #users th, #embassies th, #resources th {
	padding:0.2em;
}

#users table, #users th, #users td, #embassies table, #embassies th, #embassies td, #resources table, #resources th, #resources td {
	border: 2px solid grey;
}

#users table tr > td:not(:first-child),
#embassies table tr > td:not(:first-child),
#resources table tr > td:not(:first-child){
	text-align:center;
}

#users, #resources{
	font-size:smaller;
}

#policies div{
	display:inline-block;
	text-align:left;
	margin: 0.5em 0.7em 0.5em 0.7em;
}

#policies h3{
	margin: 0.5em 0em 0.5em 0em;
}

#newpolicydiv h3{
	display:inline-block;
}

#policyAllocateKind, #policyActionSelect {
	width:5em !important;
}


#military div{
	display:inline-block;
	text-align:left;
	margin: 0.0em 0.0em 0.0em 0.0em;
}

#military select{
	width:10em;
}

#embassies p{
	white-space: normal;
	width:25em;
	font-size:12px;
}

.adminMapImage{
	width:50% !important;;
}

#mapImage{
	width:100%;
	cursor:pointer;
	overflow-y:scroll;
}



#closeMap{
	background-color:red;
	float:right;
}

#mapcontainer.zoom{
	
	background-color:#DDDDDD;
	margin: 10% 10% 10% 10%;
}


#map.zoom{
	position:fixed;
	top:5%;
	left: 5%;
	width:89%;
	height:70%;
	background-color: black;
	overflow-y:auto;
}

#taxes textarea{
	width: 97%;
	resize:none;
}


#countryselection{
	width:12em;
	background-color: #7777f0;
	float:left;
	height:280px;
	padding:0.5em;
}

.countrytextarea{
	white-space:nowrap;
	margin: 1em;
	vertical-align:center;
}

.countrytextarea textarea{
	display:inline;
}

.unreadmail {
	color:LawnGreen;
}

.unreadchat {
	background:LawnGreen;
}



#pageFooter{
	clear: both;
}

#treaties > div{
	margin: 5px;
}

#treaties > div, #mail > div
{
	display:inline;
	float:left;
}

#treatiesView>div, #mailView>div
{
	float:top;
}


#treatiesCountryLists  > div, #mailCountryLists  > div
{
	display:inline-block;
	vertical-align:middle;
}

.signed
{
	color: #000000;
}
.withdrawn_declined
{
	color: #0000B0;
}
.pending
{
	color: #800000;
}

#topspaceLocked
{
	color: #800000;
}


select:not([size='1']){
	width: 99%;
}


#chatArea{
	overflow:hidden;
	position:fixed;
	bottom: 0%;
	left:0%;
	background-color: #DDDDDD;
	border: 2px solid grey;
	width:100%;
	height:20%;
	
}

#chatArea.chatHidden{
	height:4%;
}

#chatMinimizeButton{
	/*height:4%;*/
	/*float: left;*/
}

#chatArea > div 
{
	/*float:left;*/
	display:inline-block;
}

#chatMainDiv{
	height:90%;
	width:80%;
}

#chatMainDiv.settingsHidden {
	width:95%;
}

#showHideChatSettings{
	width:3%
}

#chatSettings
{
	/*display:inline-block;*/
	height:10%;
	width:10%
}

#chatBoxDiv
{
	float:left;
	width:100%;
	height:80%;
	overflow-y:scroll;
	overflow-x:hidden;
}

#chatBoxDiv > span
{
	font-size:14px;
}

#chatInput{
	width: 85%;
}

.above_min
{
	color: #00FF00;
	background-color: #000000;
}
.below_min
{
	color: #FF0000;
	background-color: #000000;
}
.at_min
{
	color: #000000;
	background-color: #FFFFFF;
}

#viewoffersSourceWarning
{
	color: #FF0000;
}
#mailSelectDiv
{
	width:25%;
}
#mailView
{
	width:70%;
}